  <div class='col-md-8 offset-md-1'>
    <h2>Groups</h2>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th></th>
            <th>作成者</th>
            <th>グループ名</th>
            <th>紹介文</th>
            <th>人数</th>
            <th colspan="5"></th>
          </tr>
        </thead>
        <tbody>
          <% @group.each do |group| %>
            <tr>
              <td>
              <% if group.image.attached? %>
                <%= image_tag group.image, size: "200x200" %>
              <% else %>
                <%= image_tag 'no_image', size: "200x200" %>
               <% end %>
              </td>
              <td>
              <%= group.user ? group.user.nickname : "不明" %>が
                <i class="far fa-clock"><%= group.created_at.strftime("%Y/%m/%d") %>に作成</i>
              </td>
              <td><%= link_to group.name, group_path(group) %></td>
              <td><%= group.introduction %></td>
              <td><%= group.users.count %></td>
              <td>
                <% if group.owner_id == current_user.id %>
                  <%= link_to 'Edit', edit_group_path(group), class: "btn btn-sm btn-success" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>