<div class='container-fluid'>
<div class='row'>
<div class='col-2'>

  <span>投稿者（ニックネーム）</span></br>
  <%= @post.user.nickname %></br></br>

  <span>チェックイン日時</span></br>
  <%= @post.in_day %></br></br>

  <span>チェックアウト日時</span></br>
  <%= @post.out_day %></br></br>

  <span>人数</span></br>
  <%= @post.member %>人</br></br>

  <span>値段（一人当たり）</span></br>
  <%= @post.price %>円</br></br>

</div>

<div class='col-8'>
  
  <% if @post.favorited?(current_user) %>
     <!--一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ-->
    <%= link_to post_favorites_path(@post.id), method: :delete do %>
        <span style="color:red;">❤︎</span>
    <% end %>
  <% else %>
     <!--一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ-->
    <%= link_to post_favorites_path(@post.id), method: :post do %>
        <span>❤︎</span>
    <% end %>
  <% end %>

  <span>キャンプ場</span></br>

    <% if @post.images.attached? %>
      <% @post.images.each do |image| %>
        <%= image_tag image, size: "200x200" %>
      <% end %>
    <% else %>
      <%= image_tag 'leavelogo', size: "200x200" %>
    <% end %></br>
  <%= @post.place %></br></br>

   <span>感想</span></br>
  <%= @post.body %></br></br>

  <% if @post.user.id == current_user.id %>
  <%= link_to "編集", edit_post_path(@post.id) %></br>
  <%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
  <% end %>


</div>
</div>
</div>
