<!DOCTYPE html>
<html>

  <head>
    <title>LEAVE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="shadow-sm mb-5" >
        <nav class="navbar expand-lg navbar-dark" style="background-color: #f0f8ff;">
          <div class="container">

            <% if user_signed_in? %>
              <%= link_to root_path do %>
                <%= image_tag "sun.png", size: "100x100" %>
              <% end %>
              <!--サインイン中のヘッター内容-->
              <ul class="nav justify-content-end">
                <li class="nav-item btn"><%= link_to "みんなの記録", posts_path, class: 'nav-link text-dark' %></li>
                <li class="nav-item btn"><%= link_to "新規記録", new_post_path, class: 'nav-link text-dark' %></li>
                <li class="nav-item btn"><%= link_to "マイページ", user_path(current_user.id), class: 'nav-link text-dark' %></li>
                <li class="nav-item btn"><%= link_to "マイギア", items_path(current_user.id), class: 'nav-link text-dark' %></li>
                <li class="nav-item btn"><%= link_to "ログアウト",  destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %></li>
              </ul>

            <% else %>
              <div style="background-color: #191970;">
                <%= link_to root_path do %>
                  <%= image_tag "tuki2.png", size: "100x100" %>
                <% end %>
                <!--サインインしてない時のヘッター内容-->
                <ul class="nav justify-content-end">
                  <li class="nav-item btn"><%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-yield' %></li>
                  <li class="nav-item btn"><%= link_to "ログイン", new_user_session_path, class: 'nav-link text-yield' %></li>
                  <li class="nav-item btn"><%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: 'nav-link text-yield' %></li>
                </ul>

            <% end %>
              </div>
        </nav>
    </header>

    <%= yield %>

    <footer class="text-dark pt-5 pb-3">
      <div style="background-color: #32cd32;">
        <div class='container'>
    	    <div class='row'>
    	      <i class="fas fa-campground"></i>
    	      <p class="text-right"><i class="fas fa-campground"></i></p><i class="fas fa-walking"></i><i class="fas fa-campground"></i>
      	      <div class='col'>
      	        <i class="fas fa-campground"></i>
                <p class="text-center"><i class="fas fa-walking"></i>@LEAVE<i class="fas fa-campground"></i></i></p>
              </div>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
